.jodit-wysiwyg ul,
.jodit-wysiwyg ol {
  list-style-position: inside;
  padding-left: 20px;
}

/* Default styles */
.jodit-wysiwyg ul li {
  list-style-type: disc;
}
.jodit-wysiwyg ol li {
  list-style-type: decimal;
}

/* Custom styles for unordered lists */
.jodit-wysiwyg ul.square li {
  list-style-type: square;
}
.jodit-wysiwyg ul.circle li {
  list-style-type: circle;
}

/* Custom styles for ordered lists */
.jodit-wysiwyg ol.lower-alpha li {
  list-style-type: lower-alpha;
}
.jodit-wysiwyg ol.upper-roman li {
  list-style-type: upper-roman;
}